<h3 class="text-center">pokedex region: hoenn</h3>
<p class="text-center">
  <a href="/pokemon">view my pokedex</a>
</p>

<div class="container">
  <% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <!-- credits to taylor schmidt for the slice advice to add pictures! -->
      <% let url = pokemon.url %>
      <% let pokeIndex = url.slice(34, url.length-1) %>
      <img src="<%=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iii/ruby-sapphire/${pokeIndex}.png`%>">
      <h3><span class="no"><%= pokeIndex %></span><%= pokemon.name %></h3>
      <a href="<%=`/pokemon/${pokemon.name}`%>">
        <button class="data">pokedex</button>
      </a>
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
        <button class="primary" type="submit">favorite</button>
      </form>
    </div>
  <% }); %>
</div>